.weather-app {
  border: 2px solid #181718;
  border-radius: 10px;
  margin: 70px 300px 2px 300px;
  padding: 35px;
  max-width: 1100px;
  max-height: 600px;
  background-color: rgba(255, 255, 255, 0.6);
}
h1,
h2,
h4,
p {
  text-align: center;
  font-family: "Fira Mono", monospace;
  color: #181718;
}
h4 {
  color: #181718;
  margin-top: -30px;
}
form {
  position: relative;
  top: 20px;
  left: 40px;
  width: 300px;
}
button {
  position: relative;
  left: 340px;
  width: auto;
  top: -17.5px;
}
small {
  max-width: 1100px;
  margin: 0px 300px;
  color: #fffeeb;
}
.placeholder {
  font-family: "Fira Mono", monospace;
}
#select-unit {
  text-align: center;
}
#clouds,
#humidity,
#feeling,
#wind {
  text-align: center;
  font-family: "Fira Mono", monospace;
  line-height: 1;
  font-weight: 100;
}
.profile {
  font-family: monospace;
}
.card {
  text-align: center;
  border: 2px solid #ad8f6d;
  border-radius: 8px;
  padding: 5px;
  margin: 5px 3px;
  font-family: "Fira Mono", monospace;
  background-color: transparent;
}
#size-card {
  font-size: 17px;
}
video {
  position: fixed;
  overflow: hidden;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
